@import "tailwindcss";

.emergency-button {
	padding: 8px 16px;
	width: 50%;
	border-radius: 8px;
}
.card {
	background-color: white;
}
.history-card {
	margin-bottom: 12px;
}

/* COPY BUTTON EFFECTS */
.coppy-button {
	background: white;
	color: rgb(113, 112, 112);
	cursor: pointer;
	transition: 0.1s;
}
.coppy-button:active {
	background: rgb(103, 103, 103);
	color: #fff;
}
@media only screen and (min-width: 601px) {
	.coppy-button:hover {
		background: rgb(147, 147, 147);
		color: #fff;
	}
}

/* CALL BUTTON EFFECTS */
.call-button {
	background: #00a63e;
	color: white;
	cursor: pointer;
	transition: 0.1s;
}
.call-button:active {
	background: rgb(103, 103, 103);
	color: #fff;
}
@media only screen and (min-width: 601px) {
	.call-button:hover {
		background: rgb(147, 147, 147);
		color: #fff;
	}
}
/* CLEAR HISTORY BUTTON EFFECTSF */

.clear-history-button {
	background: #00a63e;
	color: white;
	cursor: pointer;
	transition: 0.1s;
}
.clear-history-button:active {
	background: rgb(103, 103, 103);
	color: #fff;
}
@media only screen and (min-width: 601px) {
	.clear-history-button:hover {
		background: rgb(147, 147, 147);
		color: #fff;
	}
}
